body {
			font-family: "Verdana";
			font-weight: normal;
			font-size: .7em;
			color: black;
		}

		p {
			font-family: "Verdana";
			font-weight: normal;
			color: black;
			margin-top: -5px
		}

		b {
			font-family: "Verdana";
			font-weight: bold;
			color: black;
			margin-top: -5px
		}

		H1 {
			font-family: "Verdana";
			font-weight: normal;
			font-size: 18pt;
			color: red
		}

		H2 {
			font-family: "Verdana";
			font-weight: normal;
			font-size: 14pt;
			color: maroon
		}

		pre {
			font-family: "Consolas", "Lucida Console", Monospace;
			font-size: 11pt;
			margin: 0;
			padding: 0.5em;
			line-height: 14pt
		}

		.marker {
			font-weight: bold;
			color: black;
			text-decoration: none;
		}

		.version {
			color: gray;
		}

		.error {
			margin-bottom: 10px;
		}

		.expandable {
			text-decoration: underline;
			font-weight: bold;
			color: navy;
			cursor: pointer;
		}

		@media screen and (max-width: 639px) {
			pre {
				width: 440px;
				overflow: auto;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}

		@media screen and (max-width: 479px) {
			pre {
				width: 280px;
			}
		}